.cmb-td {
    position: relative;
}

.emb-field-data {
    float: right;
    position: absolute;
    top: 2px;
    right: -6px;
    text-indent: -1px;
    z-index: 9999;
    color: #72777c;
}
.emb-field-data:before {
    content: "\f111";
    color: #b8c0c8;
    display: inline-block;
    font: normal 12px/1 dashicons;
}

.emb-field-data-menu {
    display: none;
    padding: 5px 10px;
    position: absolute;
    min-width: 400px;
    top: 15px;
    right: 5px;
    border: solid 1px #ddd;
    background-color: #fdfdfd;
}

/**** CMB styles cleanup ***/

.cmb2-wrap.easymetabuilder  {
    margin: 0;
}

div.postbox.cmb-row.cmb-repeatable-grouping {
    padding: 0 !important;
}

.postbox-container .easymetabuilder.fields .cmb-repeatable-grouping, .cmb-type-group .cmb-repeatable-grouping {
    padding: 0 0 !important;
}

#poststuff .cmb-group-title {
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 2.0em;
}

.metabox-holder .postbox > h3.cmb-group-title {
    line-height: 2.0
}

.no-padding,
#_easymetabuilder_options_metabox .inside.emb-builder,
.postbox .inside.emb,
.easymetabuilder.fields .inside.cmb-field-list {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

.options .cmb-row {
    padding: 0 !important;
}

.cmb-remove-field-row {
    padding: 10px !important;
}

.postbox-container .cmb-row .cmbhandle, .cmb-type-group .cmb-row .cmbhandle {
    right: 0 !important;
}

.easymetabuilder .cmb-type-group .cmb-repeat-group-field {
    padding: 0 0 !important;
}

.inside.cmb-field-list .cmb-row:not(.cmb-remove-field-row),
.easymetabuilder.fields .table-layout,
#_easymetabuilder_options_metabox .cmb-row,
#cmb2-metabox-_easymetabuilder_options_menu_metabox .cmb-row,
.easymetabuilder.fields .inside.emb .cmb-row,
.easymetabuilder.field-output .cmb-row  {
    display: flex;
    flex-direction: row;
}

.easymetabuilder.fields .inside.cmb-field-list .cmb-row .cmb-th,
#_easymetabuilder_options_metabox .cmb-row .cmb-th,
#cmb2-metabox-_easymetabuilder_options_menu_metabox .cmb-row .cmb-th,
.easymetabuilder.fields .inside.emb .cmb-row .cmb-th,
.easymetabuilder.field-output .cmb-row .cmb-th {
    flex: 1 0 24%;
    background: #fafafa;
    border-right: 1px solid #e9e9e9 !important;
    padding: 10px;
}

.easymetabuilder.fields .inside.cmb-field-list .cmb-row .cmb-td,
#_easymetabuilder_options_metabox .cmb-row .cmb-td,
#cmb2-metabox-_easymetabuilder_options_menu_metabox .cmb-row .cmb-td,
.easymetabuilder.fields .inside.emb .cmb-row .cmb-td,
.easymetabuilder.field-output .cmb-row .cmb-td {
    flex: 1 0 68%;
    width: 68%;
    padding: 15px 10px;
}

.cmb2-wrap input:not([type="hidden"]) + select {
    margin-left: 0px !important;
}

.easymetabuilder input[type="text"],
.easymetabuilder input[type="email"],
.easymetabuilder textarea {
  background-color : #fafafa;
}

body.post-type-easymetabuilder .postbox-container .cmb2-wrap.easymetabuilder > .inside.cmb-field-list > .cmb-row,
body.post-type-easymetabuilder .cmb-type-group .cmb2-wrap.easymetabuilder > .inside.cmb-field-list > .cmb-row,
body.post-type-easymetabuilder .postbox-container .easymetabuilder .cmb-repeat-group-field,
body.post-type-easymetabuilder .postbox-container .easymetabuilder .cmb-remove-field-row,
body.post-type-easymetabuilder .easymetabuilder .cmb-type-group .cmb-repeat-group-field,
body.post-type-easymetabuilder .easymetabuilder .cmb-type-group .cmb-remove-field-row {
    padding: 0 0;
}

.cmb2-wrap.easymetabuilder .cmb-row.cmb-repeat .cmb2-metabox-description {
    padding-top: 0.4em;
    padding-bottom: 1em;
}

.cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row {
    top: 0.5em !important;
}

.cmb2-metabox .cmbhandle:before {
    top: 3px !important;
}

.postbox-container .easymetabuilder .cmb-row, .cmb-type-group .cmb-row {
    margin: 0 0 0 0;
}

.easymetabuilder .postbox.cmb-row.cmb-repeatable-grouping {
    margin: 0.8em 0 0 0;
}

.easymetabuilder .cmb-remove-group-row {
    background: none;
    color: #a00;
    text-decoration: none;
    text-shadow: none;
    border: none;
    box-shadow: none;
}

.easymetabuilder .cmb-remove-group-row:hover {
    background: none;
    color: #f00;
    border: none;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.easymetabuilder .cmb-add-group-row {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.easymetabuilder .cmb-add-group-row:hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

.easymetabuilder .cmb-shift-rows {
    padding: 2px 10px 1px;
    text-decoration: none;
    text-shadow: none;
    border: none;
    box-shadow: none;
}

.easymetabuilder .cmb-shift-rows:hover {
    background: #e9e9e9;
}

.inner-sidebar .easymetabuilder .cmb-th label:after,
#side-sortables .easymetabuilder .cmb-th label:after {
    border-bottom: 0px;
    padding-top: 0px;
}
